VITE_SUPABASE_URL=https://zbwtsxowegvtbmpkuvpp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpid3RzeG93ZWd2dGJtcGt1dnBwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1OTIwMzAsImV4cCI6MjA5NjE2ODAzMH0.zQFYdrxrHwJnOEDOdR3ozkBN2snagJD3nO-NWuBJe64
